@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap');

html {box-sizing: border-box;}
* {box-sizing: inherit;}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(253, 249, 242, 0.48)
}

/* Header */
nav {
    background-color: #1D275D;
    color: white;
    padding: 16px;
    border-bottom: 1px solid #8490B1;
    font-size: 20px;
    box-shadow: 2px 2px 3px #8490b1;
}
nav a:visited {
    color: white;
}

/* Main page */

main {
    padding: 16px;
    margin-bottom: 30px;
}

h1 {
    color: #7683a7;
    font-size: 36px;
    text-shadow: 2px 1px 0.5px #1D275D;
}

h2 {
    color: #1D275D;
    font-style: oblique;
    font-weight: bold;
}

.data-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
}

.recipe_img {
    height: 200px;
    border: 2px solid #e29f57;
    padding: 2px
}
.recipe_img:hover {
    height: 250px;
}

tr:nth-child(even) {
    background-color: rgba(215, 218, 229, 0.81);
}


a:link {
    text-decoration: none;
    color:#E78B26;
    font-size: 20px;
}

a:visited {
    text-decoration: none;
    color: #E78B26;
}

a:hover {
    color:green;
    font-size: 26px;
}



/* footer */
footer {
    padding: 24px 0px;
    position:sticky;
    bottom:0px;
    background-color: #F4DEB8;
    color: #8490b1;
    font-weight: bold;
}
